.block-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.block-left a {
    margin-left : 10px;
}

.lien {
    color: blue;
    text-decoration: underline;
}

.lien a:hover {
    color: var(--vert);
}

.block-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.block-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;

}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.evenly {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paiement {
    margin-top: 50px;
}

.conteneur {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteneur h2 {
    text-align: center;
    margin-bottom: 30px;
}

.carte-autre {
    max-width: 350px;
    margin-top: 30px;
}

.carte-autre h3 {
    text-align: center;
    margin-bottom: 10px;
}

.infos {
    max-width: 300px;
    margin-top: 30px;
}

.flex-left {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.input {
    padding-left: 10px;
}

.margin-top {
    margin-top: 20px;
}

.gras {
    font-weight: 600;
}

.span {
    font-weight: 400;
}


.les-etoiles {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.etoile {
    color: rgb(1, 47, 107);
    font-size: 2em;
    cursor: pointer; 
}

input[name="etoiles"]:checked  {
    color: gold;
}

.gold {
    color: gold;
}

.thin {
    font-weight: 400;
}

.delete {
    border: none;
}

.fonce {
    color: var(--bleuNoir);
}

.error{ 
    
    
    padding: 5px 10px;
    border-radius: 3px;
    
    color: red;
    font-weight: 400;
}

.error p, span {
    font-size: 0.8rem;
    
}

.success {
    color: green;
    border: 1px dotted green;
    padding: 5px 10px;
    border-radius: 3px;    
}

.bienvenue {
    margin-top: 50px;
    text-align: center;
    
}

.bienvenue span {
    font-weight: 700;
    font-size: 32px;

}

.sous-titre {
    font-family: var(--sous-titre);
    font-weight: 600;
}

.favori-clic {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    border: 1px solid red !important;
}
