.grille-cartes {
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 20px;    
}

@media (max-width: 1000px) {    
    .grille-cartes {
        grid-template-columns: 1fr 1fr;
    }    
}

@media (max-width: 600px) {    
    .grille-cartes {
        grid-template-columns: 1fr;
    }
}