.carte {
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    padding: 15px;
    border: 1px var(--perle) solid;
}


.carte p {
    font-size: clamp(0.8rem, 2vw + 0.1rem, 0.9rem);
}

.carte:hover {
    cursor:pointer;
}

.carte *+* {
    margin-top: 2px;
}

.carte figure {
    border-radius: 10px;
}

.carte figcaption {
    
    align-items: left;
    gap: 0px
}

.carte-mini {
    display: flex;
    flex-direction: column;
    padding: 5px !important;
    gap: 10px !important;
    box-shadow: var(--boxShadow);
    border-radius: 3px;
}


.carte-mini .bouton-carre {
    padding: 3px 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}