.formulaire  {
    border: dotted 1px rgba(1, 47, 107, 0.71);
    border-radius: 5px;
    display: block;
    margin: 50px auto;
    margin-bottom: 80px;
    max-width: 600px;
    padding: 40px;
}

.formulaire .space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.formulaire .bouton {
    margin-top: 50px;
    margin-left: -10px;
}


.formulaire h2, .bouton {
    margin-left: -5px;
}

.formulaire label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 16x;
    color:rgb(44, 44, 44)
}

.formulaire select, input, textarea
{    
    border: 1px  solid rgba(1, 47, 107, 0.71);
    border-left: solid 4px rgba(1, 47, 107, 0.71);    
    color:rgb(1, 47, 107);
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    display: block;
}

/*.formulaire select {
    width: 100%;
}

.formulaire input {
    max-width: 100%;
}

.formulaire textarea {
    width: 95%;
}*/

.formulaire option {
    color: black;
}

.formulaire input
{
    padding: 10px;
    font-size: 22px;
    border-radius: 3px;
}

.formulaire output {
    border: none;
}

.formulaire ::placeholder, textarea {
    font-size: 20px;
}


@media (max-width: 800px) {
    .formulaire .space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}


.formulaire {
    max-width: 350px;
    padding: 10px;
}

.formulaire .bouton {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.formulaire h2 {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
}



}