table {
	/*overflow-x:auto;*/
	margin: 50px auto;
	padding: 20px;
	max-width: 800px;
}

th {
	background-color: rgb(170, 170, 170);
	font-size: 24px;
	font-weight: 600;
}

td {
	font-size: 20px;
	min-width: fit-content;
}

td a:hover {
	cursor: pointer;
}

th,
td {
	border: dotted 1px rgb(170, 170, 170);
	border-radius: 5px;
	gap: 10px;
	padding: 10px;
}

td.bleu:hover {
	cursor: pointer;
	text-decoration: underline;
}

.div-un-article {
	display: block;
	margin: auto;
	justify-content: center;
	max-width: 1000px;
	margin-bottom: 60px;
	padding-left: 15px;
}

.div-un-article > *+* {
	margin-top: 20px;
}

.div-un-article h1 {
	border-bottom: 5px solid var(--bleuPale);
	padding-bottom: 15px;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;

}
.div-un-article .image {
	font-weight: 400;
	text-align: center;
	margin-top: -60px;
}

.div-un-article h2 {
	font-weight: 400;
}

.div-un-article p {
	font-size: 18px;
	text-align: justify;
	margin-top: 10px;
}

.div-un-article p,
h2 {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
}

.deux-boutons {
	margin: 50px auto;
	padding-left: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 50px;
}

.deux-boutons a {
	font-size: 18px;
	&.delete {
		background-color: var(--cerise);
		color: var(--blanc);
		border: 1px solid var(--blanc);
		box-shadow: var(--boxShadow);
		&.delete:hover {
		background-color: var(--bleuPale);
		color: var(--bleuFonce);
	}
	}
	
}

.trois-boutons {
	max-width: 500px;
	margin: -50px auto auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
